[submodule "waterlily-i001d-reconstruction/baseline/device_asus_I001D"]
	path = waterlily-i001d-reconstruction/baseline/device_asus_I001D
	url = https://github.com/BlissRoms-Devices/android_device_asus_I001D.git
[submodule "waterlily-i001d-reconstruction/baseline/device_asus_sm8150-common"]
	path = waterlily-i001d-reconstruction/baseline/device_asus_sm8150-common
	url = https://github.com/BlissRoms-Devices/android_device_asus_sm8150-common.git
[submodule "waterlily-i001d-reconstruction/baseline/kernel_asus_I001D"]
	path = waterlily-i001d-reconstruction/baseline/kernel_asus_I001D
	url = https://github.com/BlissRoms-Devices/android_kernel_asus_I001D.git
[submodule "waterlily-i001d-reconstruction/baseline/vendor_asus_I001D"]
	path = waterlily-i001d-reconstruction/baseline/vendor_asus_I001D
	url = https://github.com/BlissRoms-Devices/proprietary_vendor_asus_I001D.git
[submodule "waterlily-i001d-reconstruction/baseline/vendor_asus_sm8150-common"]
	path = waterlily-i001d-reconstruction/baseline/vendor_asus_sm8150-common
	url = https://github.com/BlissRoms-Devices/proprietary_vendor_asus_sm8150-common.git
[submodule "waterlily-i001d-reconstruction/work/HomeLauncher-repo"]
	path = waterlily-i001d-reconstruction/work/HomeLauncher-repo
	url = https://github.com/Prem8791/homelauncher.git
