<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.prodx.provider.test">

    <application
        android:label="ProdX Capability Test"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity
            android:name=".ProdXCapabilityActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".NoOpTestProviderService"
            android:exported="false" />
    </application>
</manifest>
