neverallow { prodx_broker prodx_audit prodx_observation prodx_extension } dev_type:chr_file { read write open ioctl };
neverallow { prodx_broker prodx_audit prodx_observation prodx_extension } hal_*:service { find call };
neverallow { prodx_broker prodx_audit prodx_observation prodx_extension } system_service:service { find call add };
neverallow prodx_broker prodx_registry_file:* *;
neverallow prodx_audit prodx_observation_queue_file:* *;
neverallow prodx_observation prodx_authorization_file:* *;
neverallow { prodx_broker prodx_audit prodx_observation prodx_extension } self: { create write } prodx_authorization_file;
